<div class="header">
	<div class="header-left">
		<a href="index.html" class="logo">
			<img src="{{asset('admin/assets/img/simplon.png')}}" alt="Logo">Simplon Ci
		</a>
		<a href="index.html" class="logo logo-small">
			<img src="{{asset("assets/img/simplon.png")}}" alt="Logo" width="30" height="30">
		</a>
		<a href="javascript:void(0);" id="toggle_btn">
			<i class="feather-chevrons-left"></i>
		</a>
	</div>
	<div class="top-nav-search w-75">
		
			<marquee class="fs-3">BIENVENUE SUR LA PLATEFORME DE GESTION DE SIMPLON CÔTE D'IVOIRE</marquee>
		
	</div>


<div>
	<ul class="nav nav-tabs user-menu">

		<li class="nav-item">
			<a href="#" id="dark-mode-toggle" class="dark-mode-toggle">
				<i class="feather-sun light-mode"></i>
				<i class="feather-moon dark-mode"></i>
			</a>
		</li>


			
		


		<li class="nav-item dropdown main-drop">
			<a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
				<span class="user-img">
					<img src="assets/img/profiles/avatar-01.jpg" alt="">
					<span class="status online"></span>
				</span>
			</a>
		</li>

	</ul>

</div>
