<div class="sidebar" id="sidebar">
	<div class="sidebar-inner slimscroll">
		<div id="sidebar-menu" class="sidebar-menu">
			<ul>
				<li class="menu-title">
					<span>Menu</span>
				</li>
				<li class="submenu">
					<a href="{{path("app_participant_new")}}">
						<i class="feather-file-text"></i>
						<span>Ajouter un participant</span>
						
					</a>
				</li>
				<li class="submenu">
					<a href="{{path("app_participant_index")}}">
						<i class="feather-file-text"></i>
						<span>Liste des participants</span>
						
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
